<template name="slide2">
  <!-- === Slide 2 === -->
  <div class="slide story" id="slide-2" data-slide="2">
    <div class="container">
      <div class="row title-row">
        <h1 class="text-center"> QUIENES SOMOS </h1>
        <hr>
        <div class="font-thin">
          La fundación <span class="font-semibold">Luz para La vida</span> está ubicada en la ciudad de Villa La Angostura y trabaja en varias localidades de la provincia de Neuquén.
          <br>Es una organización sin fines de lucro que lleva adelante muchos proyectos
          que buscan como fin principal mejorar la calidad de vida de los seres humanos.
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="project-wrapper">
            <div class="project">
              <div class="photo-wrapper">
                <div class="photo">
                  <a class="fancybox" href="/proyecto4.jpg">
                    <img class="img-responsive" style="height:100%;width:100%;" src="/proyecto4.jpg">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="project-wrapper">
            <div class="project">
              <div class="photo-wrapper">
                <div class="photo">
                  <a class="fancybox" href="/proyecto5.jpg">
                    <img class="img-responsive" style="height:100%;width:100%;" src="/proyecto5.jpg">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="project-wrapper">
            <div class="project">
              <div class="photo-wrapper">
                <div class="photo">
                  <a class="fancybox" href="/proyecto2.jpg">
                    <img class="img-responsive" style="height:100%;width:100%;" src="/proyecto2.jpg">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /slide2 -->
</template>
