<template name="slide2">
  <!-- === Slide 2 === -->
  <div class="slide story" id="slide-2" data-slide="2">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-thin">
          La fundación
          <span class="font-semibold">Luz para La vida</span>
          está ubicada en la ciudad de Villa La Angostura y trabaja en varias
          localidades de la provincia de Neuquén.
        </div>
      </div>
      <!-- /row -->
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div>
      <!-- /row -->
      <div class="row subtitle-row">
        <!--<div class="col-12 font-thin">This is what <span class="font-semibold">we do best</span>
        </div>-->
      </div>
      <!-- /row -->
      <div class="row content-row">
        <div class="col-12 col-lg-4 col-sm-8">
          <p><i class="icon fa fa-group fa-4x fa-fw"></i>
          </p>
          <h2 class="font-thin"><span class="font-semibold">CAMPAÑAS</span></h2>
          <h4 class="font-thin">Como colaborar</h4>
        </div>
        <!-- /col12 -->
        <div class="col-12 col-lg-4 col-sm-8">
          <p><i class="icon fa fa-facebook-square fa-4x fa-fw"></i>
          </p>
          <h2 class="font-thin">NUESTRO <span class="font-semibold">FACEBOOK</span></h2>
          <h4 class="font-thin">https://www.facebook.com/pages/Fundación-Luz-para-la-Vida</h4>
        </div>
        <!-- /col12 -->
        <div class="col-12 col-lg-4 col-sm-8">
          <p><i class="icon fa fa-gift fa-4x fa-fw"></i>
          </p>
          <h2 class="font-thin"><span class="font-semibold">DONACIONES</span></h2>
          <h4 class="font-thin"></h4>
        </div>
        <!-- /col12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /slide2 -->
</template>
