<template name="slide5">
  <!-- === Slide 5 === -->
  <div class="slide story" id="slide-5" data-slide="5">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-thin"><span class="font-semibold">Clients</span> we’ve worked with</div>
      </div>
      <!-- /row -->
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div>
      <!-- /row -->
      <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
          <br/>
          <br/> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero.</div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div>
      <!-- /row -->
      <div class="row content-row">
        <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2"><img src="images/client01.png" alt="">
        </div>
        <div class="col-12 col-sm-2"><img src="images/client02.png" alt="">
        </div>
        <div class="col-12 col-sm-2"><img src="images/client03.png" alt="">
        </div>
        <div class="col-12 col-sm-2"><img src="images/client04.png" alt="">
        </div>
        <div class="col-12 col-sm-2"><img src="images/client05.png" alt="">
        </div>
        <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /slide5 -->
</template>
