<template name="slide6">
  <!-- === Slide 6 / Contact === -->
  <div class="slide story" id="slide-6" data-slide="6">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-light">Leave us a <span class="font-semibold">message</span>
        </div>
      </div>
      <!-- /row -->
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div>
      <!-- /row -->
      <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light">You can find us literally anywhere, just push a button and we’re there</div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div>
      <!-- /row -->
      <div id="contact-row-4" class="row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-phone"></i></a>
          </p>
          <span class="hover-text font-light ">+44 4839-4343</span>
        </div>
        <!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-envelope"></i></a>
          </p>
          <span class="hover-text font-light ">munter@blacktie.co</span>
        </div>
        <!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-home"></i></a>
          </p>
          <span class="hover-text font-light ">London, England<br>zip code 98443</span>
        </div>
        <!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-facebook"></i></a>
          </p>
          <span class="hover-text font-light ">facebook/blacktie_co</span>
        </div>
        <!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-twitter"></i></a>
          </p>
          <span class="hover-text font-light ">@BlackTie_co</span>
        </div>
        <!-- /col12 -->
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /Slide 6 -->
</template>
